.flatpak-builder
c/flatpak/build
c/flatpak/nix-deps.tar.gz
c/build
c/access.log
c/compile_commands.json
c/docs/html

c++/flatpak/build
c++/flatpak/nix-deps.tar.gz
c++/build
c++/compile_commands.json
c++/docs/html

rust/flatpak/build
rust/flatpak/nix-deps.tar.gz
rust/target
rust/docs/target

rust_nvim_rpc_client/target

rust_sound_recorder/target
rust_sound_recorder/samples

content-provider-dbus-example/target
content-provider-dbus-example/docs/target

typescript/node_modules

zsh_module_example/target
