Checks: >
  -*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -bugprone-casting-through-void,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
HeaderFilterRegex: '^(src|include)/.*'
WarningsAsErrors: ''
FormatStyle: file
